<%= stylesheet_link_tag 'pages/home', media: 'all' %>
<div class='home'>
  <% if current_user %>
    <%= render "pages/partials/logged" %>
  <% else %>
    <%= render "pages/partials/unlogged" %>
  <% end %>
</div>
