<h1 class='home__title'>Home</h1>
<div class='home__unlogged'>
  <%= button_to 'Sign up', new_user_registration_path, method: :get %>
  <%= button_to 'Sign in', new_user_session_path, method: :get %>
</div>
