@import "../../mixins";

.home {
  @include page-layout;

  &__unlogged {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__form-button {
    display: flex;
    align-items: center;
  }

  #{&} &__logged {
    display: flex;
    justify-content: space-between;

    button {
      width: -webkit-fill-available;

      &:hover {
        background-color: red;
        border-color: red;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0
  }

  button {
    @include application-button;
  }
}
